@model RoleViewModel

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="small-container col-4 offset-4">
	<h3 class="text-center">Create Role</h3>
	<br />

	@if (ViewBag.Message != null)
	{
		<div class="alert alert-success">@ViewBag.Message</div>
	}

	<form method="post">
		<div class="form-group">
			<label asp-for="@Model.Name" class="control-label"></label>
			<input asp-for="@Model.Name" class="form-control" tabindex="1" />
			<span asp-validation-for="@Model.Name" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary">Create</button>
	</form>
</div>