body {
    /*font-family: 'Quicksand', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 55px;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-brand img {
    height: 50px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Timeline */
.message {
    background-color: rgb(255, 247, 241);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-right: auto;
    margin-top: 1rem;
}

    .message a[href^="https://twitter.com"] {
        padding: 0rem 0.6rem 0.3rem 0.6rem;
        border-radius: 0.3rem;
        color: orangered;
        text-decoration: none;
        text-shadow: 0 0 0.1px;
    }

        .message a[href^="https://twitter.com"]:before {
            content: '@';
        }

    .message .timestamp {
        font-weight: bold;
        padding: 0.5rem 0.2rem;
    }

    .message .timestamp {
        font-weight: bold;
    }

    .message .profile {
        display: flex;
        padding: 0.5rem 0;
    }

    .message .profile-avatar {
        border: 0.2rem solid white;
        min-width: 2rem;
        min-height: 2rem;
        width: 2rem;
        height: 2rem;
    }

    .message .profile-bio {
        padding: 0 0.5rem;
    }
    
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {

    /* Hide captions */
    .carousel-caption {
        display: none;
    }

    .message .profile {
        display: block;
    }
}


.login-logo,
.register-logo {
    font-size: 2.1rem;
    font-weight: 300;
    margin-bottom: .9rem;
    text-align: center;
}

    .login-logo a,
    .register-logo a {
        color: #495057;
    }

.login-page,
.register-page {
    -ms-flex-align: center;
    align-items: center;
    background: #e9ecef;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    -ms-flex-pack: center;
    justify-content: center;
}

.login-box,
.register-box {
    width: 360px;
}

@media (max-width: 576px) {
    .login-box,
    .register-box {
        margin-top: .5rem;
        width: 90%;
    }
}

.login-card-body,
.register-card-body {
    background: #ffffff;
    border-top: 0;
    color: #666;
    padding: 20px;
}

    .login-card-body .input-group .form-control,
    .register-card-body .input-group .form-control {
        border-right: 0;
    }

        .login-card-body .input-group .form-control:focus,
        .register-card-body .input-group .form-control:focus {
            box-shadow: none;
        }

            .login-card-body .input-group .form-control:focus ~ .input-group-append .input-group-text,
            .register-card-body .input-group .form-control:focus ~ .input-group-append .input-group-text {
                border-color: #80bdff;
            }

        .login-card-body .input-group .form-control.is-valid:focus,
        .register-card-body .input-group .form-control.is-valid:focus {
            box-shadow: none;
        }

        .login-card-body .input-group .form-control.is-valid ~ .input-group-append .input-group-text,
        .register-card-body .input-group .form-control.is-valid ~ .input-group-append .input-group-text {
            border-color: #28a745;
        }

        .login-card-body .input-group .form-control.is-invalid:focus,
        .register-card-body .input-group .form-control.is-invalid:focus {
            box-shadow: none;
        }

        .login-card-body .input-group .form-control.is-invalid ~ .input-group-append .input-group-text,
        .register-card-body .input-group .form-control.is-invalid ~ .input-group-append .input-group-text {
            border-color: #dc3545;
        }

    .login-card-body .input-group .input-group-text,
    .register-card-body .input-group .input-group-text {
        background-color: transparent;
        border-bottom-right-radius: 0.25rem;
        border-left: 0;
        border-top-right-radius: 0.25rem;
        color: #777;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

.login-box-msg,
.register-box-msg {
    margin: 0;
    padding: 0 20px 20px;
    text-align: center;
}
