
@{
    Layout = null;

    var fieldErrors = TempData["error_fields"] as string[];
    var errorMessage = TempData["error_message"] as string;

    var postbackUsername = TempData["postback_username"] as string;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Forgot Password - Research Library</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <style>
        label {
            margin-left: 0.8em;
        }

        .small-container {
            max-width: 20em;
            margin: auto;
        }

        .btn {
            min-width: 10em;
        }
    </style>

</head>
<body>
    <div class="container">

        <br />
        <br />

        <h2 class="text-center">Forgotten password</h2>

        <br />
        <br />

        <div class="small-container">
            <form action="/forgotpassword" method="post">

                @if (!string.IsNullOrWhiteSpace(errorMessage))
                {
                <div class="alert alert-danger" role="alert">@errorMessage</div>
                }

                <div class="form-group">
                    @{
                        var isUserInvalid = fieldErrors?.Contains("username") ?? false;
                    }

                    <label class="@(isUserInvalid ? "text-danger" : "")" for="email">Email</label>
                    <input class="form-control @(isUserInvalid ? "is-invalid" : "")" type="text" id="email" name="email" value="@postbackUsername" />
                </div>

                <input class="btn btn-primary-o btn-lg btn-block" type="submit" value="Send reset link" />
            </form>
        </div>
    </div>
</body>
</html>
